.contact-box-flex {
  display: flex;
  gap: 4%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
  padding: 1.75% 1.25%;
  border-radius: 10px;
  background-color: rgb(25, 25, 25);
  box-shadow: 0px 0px 18px 8px rgb(10, 10, 10);
}

.contact-box-flex hr {
  border: none;
  border-top: dashed var(--lime) 1px;
  height: 1px;
  margin-top: 4px;
}

.contact-flex-item-1 {
  width: 45%;
}

.contact-flex-item-2 {
  width: 55%;
}

.bio-photo {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

.bio-description {
  font-size: clamp(0.8rem, 0.95vw, 1.05rem);
  text-align: center;
  position: relative;
  padding: 0.5%;
  background-color: rgba(0, 0, 0, 0.85);
}

.contact-para {
  margin-left: 0.5rem;
}

.greeting {
  font-family: "Staatliches", cursive;
  font-size: clamp(1.4rem, 1.3vw, 1.6rem);
  letter-spacing: 2.3px;
  margin-bottom: 0.8rem;
}

.contact-form:focus-within {
  box-shadow: 0px 0px 18px 8px rgb(10, 10, 10);
  border-radius: 8px;
  padding: 0.85rem;
}

.contact-animation {
  font-family: "Staatliches", cursive;
  font-size: clamp(2.7rem, 3.7vw, 3.7rem);
  letter-spacing: 0.2rem;
  text-shadow: 9px 8px 0px rgb(0, 0, 0);
  position: relative;
  margin-top: -2%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  animation-name: get-in-touch;
  animation-duration: 1.2s;
  animation-delay: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes get-in-touch {
  0% {
    transform: translateX(-125%);
    opacity: 0;
  }

  85% {
    transform: translateX(40%);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .contact-box-flex {
    width: 83%;
  }

  .contact-animation {
    width: 81%;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .contact-box-flex {
    width: 79%;
  }

  .contact-animation {
    width: 77%;
  }
}

/* Big screen devices (1024px and above) */
@media only screen and (min-width: 1024px) {
  .contact-box-flex {
    width: 75%;
  }

  .contact-animation {
    width: 73%;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .contact-box-flex {
    width: 68%;
  }

  .contact-animation {
    width: 66%;
  }
}